<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>
    <h1>join page</h1>
    <hr/>
    <form action="/joinProc" method="post" name="loginForm">
    	<label>ID : </label>
    	<input id="username" type="text" name="username" placeholder="id"/>
    	<label>PASSWORD : </label>
    	<input id="password" type="password" name="password" placeholder="password"/>
    	<input type="submit" value="Join" />
    </form>
</body>
</html>